$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

:root {
  -webkit-overflow-scrolling: touch;
}

@mixin breakpoint($class) {
  @if $class == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
