@import "../styles/styles.scss";

.heading {
  position: relative;

  &__text {
    position: relative;
  }
  

  &__top, &__bottom {
    margin-left: 8px;
    letter-spacing: 3px;

    @include breakpoint(sm) {
      letter-spacing: 4px;
    }

    @include breakpoint(lg) {
      letter-spacing: 8px;
    }
    
    @include breakpoint(xl) {
      letter-spacing: 15px;
    }
  }

  &__top {
    position: absolute;
    top: 100px; 

    @include breakpoint(sm) {
      top: 160px;
    }

    @include breakpoint(lg) {
      top: 220px;
    }
  }
}