@import "../../styles/styles.scss";

.box {
  transition: right .3s, top .3s, bottom .3s, left .3s;
  z-index: -100;

  &--1 {
    right: -30%;
    top: -30px;

    @include breakpoint(sm) {
      right: 10%;
      top: 70px;
    }
    
  }

  &--2 {
    left: -10%;
    top: 500px;

    @include breakpoint(sm) {
      left: 15%;
      bottom: 175px;
    }
  }

  &--3 {
    right: 0px;
    top: 350px;

    @include breakpoint(sm) {
      right: 15%;
      top: 80vh;
    }
  }
}