.fancybox {
  $size: 40px;
  z-index: -100;

  width: $size;
  height: $size;
  position: absolute;

  left: 5%;
  top: 50px;

  &:after {
    content: '';
    position: absolute;
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    border: 3px solid #718096;
  }
}